@model Domain.DadosCliente.Usuario
@{Layout = null;}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/font-awesome.css">
    <title>Cadastro</title>
</head>

<body class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <h2>Formulário de cadastro</h2>
            <p class="lead">Cadastre-se para poder comprar com rapidez e tranquilidade</p>
        </div>
        <div class="row order-md-1 justify-content-center">
            <form action="/Loja/Conta/Cadastrar/" method="post" id="formCadastroCliente">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="nomeCompleto">Nome completo*</label>
                        <input type="text" class="form-control" id="nomeCompleto" name="NomeCompleto" value="@Model.NomeCompleto">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="dataNascimento">Data de nascimento*</label>
                        <input type="date" class="form-control" id="dataNascimento" name="DataNascimento" value="@Model.DataNascimento">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="mr-3">Sexo*</label>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="sexo1" name="Sexo" class="custom-control-input" value="1" checked="@(Model.Sexo == 1)">
                            <label class="custom-control-label" for="sexo1">Masculino</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="sexo2" name="Sexo" class="custom-control-input" value="2" checked="@(Model.Sexo == 2)">
                            <label class="custom-control-label" for="sexo2">Feminino</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="cpf">CPF*</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="cpf" name="Cpf" placeholder="Somente números" value="@Model.Cpf">
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="email">Email*</label>
                        <input type="email" class="form-control" id="email" name="Email" value="@Model.Email">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="senha">Senha*</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="senha" name="Senha" value="@Model.Senha">
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="confirmacaoSenha">Confirmação de senha*</label>
                        <input type="password" class="form-control" id="confirmacaoSenha" name="ConfirmacaoSenha" value="@Model.ConfirmacaoSenha">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="telefoneTipo">Tipo de telefone*</label>
                        <select class="custom-select d-block w-100" id="telefoneTipo" name="telefoneTipo">
                            <option selected="@(Model.TelefoneTipo == 0)">Selecione</option>
                            <option value="1" selected="@(Model.TelefoneTipo == 1)">Fixo</option>
                            <option value="2" selected="@(Model.TelefoneTipo == 2)">Móvel</option>
                        </select>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="telefoneDdi">DDI*</label>
                        <input type="text" class="form-control" id="telefoneDdi" name="TelefoneDdi" maxlength="3" value="@Model.TelefoneDdi">
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="telefoneDdd">DDD*</label>
                        <input type="text" class="form-control" id="telefoneDdd" name="TelefoneDdd" maxlength="2" value="@Model.TelefoneDdd">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="telefoneNumero">Número*</label>
                        <input type="text" class="form-control" id="telefoneNumero" name="TelefoneNumero" maxlength="10" value="@Model.TelefoneNumero">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="">Endereço de entrega</label>
                    </div>
                </div>
                <hr class="mb-2">
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="enderecoEntrega.TipoResidencia">Tipo de Residência*</label>
                        <select class="custom-select d-block w-100" id="enderecoEntrega.TipoResidencia" name="EnderecoEntrega.TipoResidencia">
                            <option selected="@(Model.EnderecoEntrega.TipoResidencia == 0)">Selecione</option>
                            <option value="1" selected="@(Model.EnderecoEntrega.TipoResidencia == 1)">Casa</option>
                            <option value="2" selected="@(Model.EnderecoEntrega.TipoResidencia == 2)">Apto</option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="enderecoEntrega.TipoLogradouro">Tipo de logradouro*</label>
                        <select class="custom-select d-block w-100" id="enderecoEntrega.TipoLogradouro" name="EnderecoEntrega.TipoLogradouro">
                            <option selected="@(Model.EnderecoEntrega.TipoLogradouro == 0)">Selecione</option>
                            <option value="1" selected="@(Model.EnderecoEntrega.TipoLogradouro == 1)">Rua</option>
                            <option value="2" selected="@(Model.EnderecoEntrega.TipoLogradouro == 2)">Av.</option>
                            <option value="3" selected="@(Model.EnderecoEntrega.TipoLogradouro == 3)">Rod.</option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="enderecoEntrega.Logradouro">Logradouro*</label>
                        <input type="text" class="form-control" id="enderecoEntrega.Logradouro" name="EnderecoEntrega.Logradouro" value="@Model.EnderecoEntrega.Logradouro">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 mb-3">
                        <label for="enderecoEntrega.Numero">Número*</label>
                        <input type="text" class="form-control" id="enderecoEntrega.Numero" name="EnderecoEntrega.Numero" value="@Model.EnderecoEntrega.Numero">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="enderecoEntrega.Bairro">Bairro*</label>
                        <input type="text" class="form-control" id="enderecoEntrega.Bairro" name="EnderecoEntrega.Bairro" value="@Model.EnderecoEntrega.Bairro">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="enderecoEntrega.Cidade">Cidade*</label>
                        <select class="custom-select d-block w-100" id="enderecoEntrega.Cidade" name="EnderecoEntrega.Cidade">
                            <option selected="@(Model.EnderecoEntrega.Cidade == 0)">Escolha</option>
                            <option value="1" selected="@(Model.EnderecoEntrega.Cidade == 1)">Mogi das Cruzes</option>
                            <option value="2" selected="@(Model.EnderecoEntrega.Cidade == 2)">Suzano</option>
                        </select>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="enderecoEntrega.Estado">Estado*</label>
                        <select class="custom-select d-block w-100" id="enderecoEntrega.Estado" name="EnderecoEntrega.Estado">
                            <option selected="@(Model.EnderecoEntrega.Estado == 0)">Escolha</option>
                            <option value="1" selected="@(Model.EnderecoEntrega.Estado == 1)">SP</option>
                            <option value="2" selected="@(Model.EnderecoEntrega.Estado == 2)">MG</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 mb-3">
                        <label for="enderecoEntrega.Pais">País*</label>
                        <select class="custom-select d-block w-100" id="enderecoEntrega.Pais" name="EnderecoEntrega.Pais">
                            <option selected="@(Model.EnderecoEntrega.Pais == 0)">Escolha</option>
                            <option value="1" selected="@(Model.EnderecoEntrega.Pais == 1)">Brasil</option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="enderecoEntrega.Cep">CEP*</label>
                        <input type="text" class="form-control" id="enderecoEntrega.Cep" name="EnderecoEntrega.Cep" placeholder="Somente números" maxlength="8"
                               value="@Model.EnderecoEntrega.Cep">
                    </div>
                    <div class="col-md-7 mb-3">
                        <label for="enderecoEntrega.Observacao">Observação</label>
                        <input type="text" class="form-control" id="enderecoEntrega.Observacao" name="EnderecoEntrega.Observacao" value="@Model.EnderecoEntrega.Observacao">
                    </div>
                </div>
                <hr class="mb-4">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="endEntregaECobranca" name="EndEntregaECobranca" value="1" checked="@(Model.EndEntregaECobranca == 1)">
                    <label class="custom-control-label" for="endEntregaECobranca">Endereço de cobrança é o mesmo de entrega</label>
                </div>
                <!--Endereco de cobranca-->
                <div id="divEnderecoCobranca">
                    <hr class="mb-4 mt-3">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label>Endereço de cobrança</label>
                        </div>
                    </div>
                    <hr class="mb-2">
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="enderecoCobranca.TipoResidencia">Tipo de Residência*</label>
                            <select class="custom-select d-block w-100" id="enderecoCobranca.TipoResidencia" name="EnderecoCobranca.TipoResidencia">
                                <option selected="@(Model.EnderecoCobranca.TipoResidencia == 0)">Selecione</option>
                                <option value="1" selected="@(Model.EnderecoCobranca.TipoResidencia == 1)">Casa</option>
                                <option value="2" selected="@(Model.EnderecoCobranca.TipoResidencia == 2)">Apto</option>
                            </select>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="enderecoCobranca.TipoLogradouro">Tipo de logradouro*</label>
                            <select class="custom-select d-block w-100" id="enderecoCobranca.TipoLogradouro" name="EnderecoCobranca.TipoLogradouro">
                                <option selected="@(Model.EnderecoCobranca.TipoLogradouro == 0)">Selecione</option>
                                <option value="1" selected="@(Model.EnderecoCobranca.TipoLogradouro == 1)">Rua</option>
                                <option value="2" selected="@(Model.EnderecoCobranca.TipoLogradouro == 2)">Av.</option>
                                <option value="3" selected="@(Model.EnderecoCobranca.TipoLogradouro == 3)">Rod.</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="enderecoCobranca.Logradouro">Logradouro*</label>
                            <input type="text" class="form-control" id="enderecoCobranca.Logradouro" name="EnderecoCobranca.Logradouro" value="@Model.EnderecoCobranca.Logradouro">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 mb-3">
                            <label for="enderecoCobranca.Numero">Número*</label>
                            <input type="text" class="form-control" id="enderecoCobranca.Numero" name="EnderecoCobranca.Numero" value="@Model.EnderecoCobranca.Numero">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="enderecoCobranca.Bairro">Bairro*</label>
                            <input type="text" class="form-control" id="enderecoCobranca.Bairro" name="EnderecoCobranca.Bairro" value="@Model.EnderecoCobranca.Bairro">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="enderecoCobranca.Cidade">Cidade*</label>
                            <select class="custom-select d-block w-100 inputSelect" id="enderecoCobranca.Cidade" name="EnderecoCobranca.Cidade">
                                <option selected="@(Model.EnderecoCobranca.Cidade == 0)">Escolha</option>
                                <option value="1" selected="@(Model.EnderecoCobranca.Cidade == 1)">Mogi das Cruzes</option>
                                <option value="2" selected="@(Model.EnderecoCobranca.Cidade == 2)">Suzano</option>
                            </select>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="enderecoCobranca.Estado">Estado*</label>
                            <select class="custom-select d-block w-100 inputSelect" id="enderecoCobranca.Estado" name="EnderecoCobranca.Estado">
                                <option selected="@(Model.EnderecoCobranca.Estado == 0)">Escolha</option>
                                <option value="1" selected="@(Model.EnderecoCobranca.Estado == 1)">SP</option>
                                <option value="2" selected="@(Model.EnderecoCobranca.Estado == 2)">MG</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 mb-3">
                            <label for="enderecoCobranca.Pais">País*</label>
                            <select class="custom-select d-block w-100" id="enderecoCobranca.Pais" name="enderecoCobranca.Pais">
                                <option selected="@(Model.EnderecoCobranca.Pais == 0)">Escolha</option>
                                <option value="1" selected="@(Model.EnderecoCobranca.Pais == 1)">Brasil</option>
                            </select>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="enderecoCobranca.Cep">CEP*</label>
                            <input type="text" class="form-control" id="enderecoCobranca.Cep" name="EnderecoCobranca.Cep" placeholder="00000-000" maxlength="9"
                                   value="@Model.EnderecoCobranca.Cep">
                        </div>
                        <div class="col-md-7 mb-3">
                            <label for="enderecoCobranca.Observacao">Observação</label>
                            <input type="text" class="form-control" id="enderecoCobranca.Observacao" name="EnderecoCobranca.Observacao" value="@Model.EnderecoCobranca.Observacao">
                        </div>
                    </div>
                </div>
                <hr class="mb-4">

                <h4 class="mb-3">Pagamento</h4>

                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="cartao.NomeImpresso">Nome impresso no cartão*</label>
                        <input type="text" class="form-control" id="cartao.NomeImpresso" name="Cartao.NomeImpresso" value="@Model.Cartao.NomeImpresso">
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="cartao.Numeracao">Numeração do cartão*</label>
                        <input type="text" class="form-control" id="cartao.Numeracao" name="Cartao.Numeracao" value="@Model.Cartao.Numeracao">
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="cartao.Bandeira">Bandeira*</label>
                        <select class="custom-select d-block w-100" id="cartao.Bandeira" name="Cartao.Bandeira">
                            <option selected="@(Model.Cartao.Bandeira == 0)">Escolha</option>
                            <option value="1" selected="@(Model.Cartao.Bandeira == 1)">Master</option>
                            <option value="2" selected="@(Model.Cartao.Bandeira == 2)">Visa</option>
                            <option value="3" selected="@(Model.Cartao.Bandeira == 3)">Elo</option>
                            <option value="4" selected="@(Model.Cartao.Bandeira == 4)">American Express</option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="cartao.Validade">Validade*</label>
                        <input type="text" class="form-control" id="cartao.Validade" name="Cartao.Validade" placeholder="mm/aaaa" value="@Model.Cartao.Validade">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label>* Campos de preenchimento obrigatório</label>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Cadastrar-se</button>
            </form>
        </div>
    </div>
    @await Html.PartialAsync("_modalMensagem")
    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; Code EZ 2020</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery-v3.4.1.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/loja/conta/conta.js"></script>
</body>

</html>

