@model Domain.Produto.Livro
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="titulo">Título*</label>
            <input type="text" readonly="@(ViewData["Title"].ToString().ToLower().Contains("detalhes"))" class="form-control" id="nome" name="Nome" value="@Model.Nome">
        </div>
        <div class="col-md-2 mb-3">
            <label for="imagem">Capa*</label>
            <div class="input-group mb-3">
                <img src="@(Model.CaminhoImagem)" class="img-thumbnail" alt="Imagem" width="40" height="60" />
            </div>
        </div>
        @if (ViewData["Title"].ToString().ToLower().Contains("edição"))
        {
            <div class="col-md-4 mb-3">
                <label for="imagem">Capa</label>
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" readonly="@(ViewData["Title"].ToString().ToLower().Contains("detalhes"))" class="form-control custom-file-input" id="imagem" name="Imagem" value="@Model.Imagem">
                        <label class="custom-file-label" for="imagem"
                               data-browse="Procurar">Escolha uma imagem</label>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="col-md-4 mb-3">
                <label for="imagem">Capa</label>
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" readonly="@(ViewData["Title"].ToString().ToLower().Contains("detalhes"))" class="form-control custom-file-input" id="imagem" name="Imagem" value="@Model.Imagem">
                        <label class="custom-file-label" for="imagem"
                               data-browse="Procurar">Escolha uma imagem</label>
                    </div>
                </div>
            </div>
        }
        <div class="col-md-6 mb-3">
            <label for="categorias">Genero*</label>
            <select multiple class="form-control" id="generos" name="Generos" readonly="@(ViewData["Title"].ToString().ToLower().Contains("detalhes"))">
                <option selected="@(Model.Generos.Contains(1))" value="1">Ficção</option>
                <option selected="@(Model.Generos.Contains(2))" value="2">Ficção Científica</option>
                <option selected="@(Model.Generos.Contains(3))" value="3">Romance</option>
                <option selected="@(Model.Generos.Contains(4))" value="4">Ação</option>
                <option selected="@(Model.Generos.Contains(5))" value="5">Aventura</option>
                <option selected="@(Model.Generos.Contains(6))" value="6">Desenvolvimento pessoal</option>
                <option selected="@(Model.Generos.Contains(7))" value="7">Autoajuda</option>
                <option selected="@(Model.Generos.Contains(8))" value="8">Economia</option>
                <option selected="@(Model.Generos.Contains(9))" value="9">Desenvolvimento de Software</option>
                <option selected="@(Model.Generos.Contains(10))" value="10">Tecnologia da Informação</option>
                <option selected="@(Model.Generos.Contains(11))" value="11">História</option>
                <option selected="@(Model.Generos.Contains(12))" value="12">Terror</option>
                <option selected="@(Model.Generos.Contains(13))" value="13">Política</option>
                <option selected="@(Model.Generos.Contains(14))" value="14">Filosofia</option>
                <option selected="@(Model.Generos.Contains(15))" value="15">Arte</option>
                <option selected="@(Model.Generos.Contains(16))" value="16">Física</option>
                <option selected="@(Model.Generos.Contains(17))" value="17">Psicologia</option>
                <option selected="@(Model.Generos.Contains(18))" value="18">Manual Técnico</option>

            </select>
        </div>
        <div class="col-md-6 mb-3">
            <label for="autores">Autor*</label>
            <select multiple class="form-control" id="autores" name="Autores" readonly="@(ViewData["Title"].ToString().ToLower().Contains("detalhes"))">
                <option selected="@(Model.Autores.Contains(1))" value="1">J. R. R. Tolkien</option>
                <option selected="@(Model.Autores.Contains(2))" value="2">J. J. Sutherland</option>
                <option selected="@(Model.Autores.Contains(3))" value="3">George R.R. Martin</option>
                <option selected="@(Model.Autores.Contains(4))" value="4">Dale Carnegie</option>
                <option selected="@(Model.Autores.Contains(5))" value="5">T. Harv Eker</option>
                <option selected="@(Model.Autores.Contains(6))" value="6">Kevin D. Mitnick</option>
                <option selected="@(Model.Autores.Contains(7))" value="7">William L. Simon</option>
                <option selected="@(Model.Autores.Contains(8))" value="8">Carol S. Dweck</option>
                <option selected="@(Model.Autores.Contains(9))" value="9">Charles Duhigg</option>
                <option selected="@(Model.Autores.Contains(10))" value="10">Stephen Hawking</option>
                <option selected="@(Model.Autores.Contains(11))" value="11">Stephen King</option>
                <option selected="@(Model.Autores.Contains(12))" value="12">Mary Shelley</option>
                <option selected="@(Model.Autores.Contains(13))" value="13">Bram Stoker</option>
                <option selected="@(Model.Autores.Contains(14))" value="14">H. P. Lovecraft</option>
            </select>
        </div>
        <div class="col-md-12 mb-3">
            <label for="sinopse">Sinopse*</label>
            <textarea class="form-control" id="descricao" name="Descricao" cols="30" rows="6" 
                      readonly="@(ViewData["Title"].ToString().ToLower().Contains("detalhes"))">@Model.Descricao</textarea>
        </div>
        <div class="col-md-3 mb-3">
            <label for="editora">Editora*</label>
            <select class="form-control" id="editora" name="Editora" readonly="@(ViewData["Title"].ToString().ToLower().Contains("detalhes"))">
                <option></option>
                <option selected="@(Model.Editora == 1)" value="1">Leya</option>
                <option selected="@(Model.Editora == 2)" value="2">Casa do Código</option>
                <option selected="@(Model.Editora == 3)" value="3">Cengage Learning</option>
                <option selected="@(Model.Editora == 4)" value="4">Elsevier</option>
                <option selected="@(Model.Editora == 5)" value="5">Senac</option>
                <option selected="@(Model.Editora == 6)" value="6">Companhia Editora Nacional</option>
                <option selected="@(Model.Editora == 7)" value="7">Alta Books</option>
                <option selected="@(Model.Editora == 8)" value="8">Pearson</option>
                <option selected="@(Model.Editora == 9)" value="9">Companhia das Letras</option>
                <option selected="@(Model.Editora == 10)" value="10">Discovery Publicações</option>
                <option selected="@(Model.Editora == 11)" value="11">On Line</option>
                <option selected="@(Model.Editora == 12)" value="12">Martins Fontes</option>
                <option selected="@(Model.Editora == 13)" value="13">Sextante</option>
            </select>
        </div>
        <div class="col-md-3 mb-3">
            <label for="grupoPrecificacao">Grupo de precificação*</label>
            <select class="form-control" id="grupoPrecificacao" name="GrupoPrecificacao" readonly="@(ViewData["Title"].ToString().ToLower().Contains("detalhes"))">
                <option></option>
                <option selected="@(Model.GrupoPrecificacao == 1)" value="1">Bronze</option>
                <option selected="@(Model.GrupoPrecificacao == 2)" value="2">Prata</option>
                <option selected="@(Model.GrupoPrecificacao == 3)" value="3">Ouro</option>
            </select>
        </div>
        <div class="col-md-2 mb-3">
            <label for="anoLancamento">Ano de lançamento*</label>
            <input type="text" readonly="@(ViewData["Title"].ToString().ToLower().Contains("detalhes"))" class="form-control" id="anoLancamento" name="AnoLancamento" placeholder="aaaa" maxlength="4" value="@Model.AnoLancamento">
        </div>
        <div class="col-md-2 mb-3">
            <label for="edicao">Edição*</label>
            <input type="text" readonly="@(ViewData["Title"].ToString().ToLower().Contains("detalhes"))" class="form-control" id="edicao" name="Edicao" placeholder="1ª" value="@Model.Edicao">
        </div>
        <div class="col-md-2 mb-3">
            <label for="volume">Volume*</label>
            <input type="text" readonly="@(ViewData["Title"].ToString().ToLower().Contains("detalhes"))" class="form-control" id="volume" name="Volume" value="@Model.Volume">
        </div>
        <div class="col-md-2 mb-3">
            <label for="tipocapa">Tipo de capa*</label>
            <select class="form-control" id="tipoCapa" name="TipoCapa" readonly="@(ViewData["Title"].ToString().ToLower().Contains("detalhes"))">
                <option></option>
                <option selected="@(Model.TipoCapa == 1)" value="1">Mole</option>
                <option selected="@(Model.TipoCapa == 2)" value="2">Dura</option>
            </select>
        </div>
        <div class="col-md-4 mb-3">
            <label for="isbn">ISBN*</label>
            <input type="text" readonly="@(ViewData["Title"].ToString().ToLower().Contains("detalhes"))" class="form-control" id="isbn" name="Isbn" value="@Model.Isbn">
        </div>
        <div class="col-md-2 mb-3">
            <label for="qtdePaginas">Qtde de páginas*</label>
            <input readonly="@(ViewData["Title"].ToString().ToLower().Contains("detalhes"))" type="text" class="form-control" id="qtdePaginas" name="QtdePaginas" value="@Model.QtdePaginas">
        </div>
        <div class="col-md-2 mb-3">
            <label for="altura">Altura*</label>
            <div class="input-group">
                <input type="text" readonly="@(ViewData["Title"].ToString().ToLower().Contains("detalhes"))" class="form-control" id="altura" name="Altura" value="@Model.Altura">
                <div class="input-group-append">
                    <span class="input-group-text">cm</span>
                </div>
            </div>
        </div>
        <div class="col-md-2 mb-3">
            <label for="comprimento">Comprimento*</label>
            <div class="input-group">
                <input type="text" readonly="@(ViewData["Title"].ToString().ToLower().Contains("detalhes"))" class="form-control" id="comprimento" name="Comprimento" value="@Model.Comprimento">
                <div class="input-group-append">
                    <span class="input-group-text">cm</span>
                </div>
            </div>
        </div>
        <div class="col-md-2 mb-3">
            <label for="largura">Largura*</label>
            <div class="input-group">
                <input type="text" readonly="@(ViewData["Title"].ToString().ToLower().Contains("detalhes"))" class="form-control" id="largura" name="Largura" value="@Model.Largura">
                <div class="input-group-append">
                    <span class="input-group-text">cm</span>
                </div>
            </div>
        </div>
        <div class="col-md-2 mb-3">

            <label for="peso">Peso*</label>
            <div class="input-group">
                <input type="text" readonly="@(ViewData["Title"].ToString().ToLower().Contains("detalhes"))" class="form-control" id="peso" name="Peso" value="@Model.Peso">
                <div class="input-group-append">
                    <span class="input-group-text">gr</span>
                </div>
            </div>
        </div>
        @if (!ViewData["Title"].ToString().ToLower().Contains("cadastro"))
        {
            <div class="col-md-2 mb-3">
                <label for="status">Status*</label>
                <select class="form-control" id="status" name="Status" readonly="@(ViewData["Title"].ToString().ToLower().Contains("detalhes"))">
                    <option selected="@(Model.Status == 1)" value="1">Ativo</option>
                    <option selected="@(Model.Status == 0)" value="0">Inativo</option>
                </select>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.MotivoMudancaStatus))
        {
            <div class="col-md-4 mb-3" id="divMudaStatus">
                <label for="motivoMudancaStatus">Motivo da mudança de status*</label>
                <input type="text" class="form-control" id="motivoMudancaStatus" name="MotivoMudancaStatus" value="@Model.MotivoMudancaStatus" readonly="@(ViewData["Title"].ToString().ToLower().Contains("detalhes"))">
            </div>
        }
        else
        {
            <div class="col-md-4 mb-3 d-none" id="divMudaStatus">
                <label for="motivoMudancaStatus">Motivo da mudança de status*</label>
                <input type="text" class="form-control" id="motivoMudancaStatus" name="MotivoMudancaStatus" value="@Model.MotivoMudancaStatus" readonly="@(ViewData["Title"].ToString().ToLower().Contains("detalhes"))">
            </div>
        }
        @if (Model.CategoriaAtivacao != null && Model.CategoriaAtivacao > 0)
        {
            <div class="col-md-2 mb-3" id="divCatAtivacao">
                <label for="categoriaAtivacao">Categoria de ativação*</label>
                <select class="form-control" id="categoriaAtivacao" name="CategoriaAtivacao" readonly="@(ViewData["Title"].ToString().ToLower().Contains("detalhes"))">
                    <option></option>
                    <option selected="@(Model.CategoriaAtivacao == 1)" value="1">Produto novo</option>
                    <option selected="@(Model.CategoriaAtivacao == 2)" value="2">Liberação judicial</option>
                    <option selected="@(Model.CategoriaAtivacao == 3)" value="3">Reabastecimento de estoque</option>
                </select>
            </div>
        }
        else
        {
            <div class="col-md-2 mb-3 d-none" id="divCatAtivacao">
                <label for="categoriaAtivacao">Categoria de ativação*</label>
                <select class="form-control" id="categoriaAtivacao" name="CategoriaAtivacao" readonly="@(ViewData["Title"].ToString().ToLower().Contains("detalhes"))">
                    <option></option>
                    <option selected="@(Model.CategoriaAtivacao == 1)" value="1">Produto novo</option>
                    <option selected="@(Model.CategoriaAtivacao == 2)" value="2">Liberação judicial</option>
                    <option selected="@(Model.CategoriaAtivacao == 3)" value="3">Reabastecimento de estoque</option>
                </select>
            </div>
        }
        @if (Model.CategoriaInativacao != null && Model.CategoriaInativacao > 0)
        {
            <div class="col-md-2 mb-3" id="divCatInativacao">
                <label for="categoriaInativacao">Categoria de inativação</label>
                <select class="form-control" id="categoriaInativacao" name="CategoriaInativacao" readonly="@(ViewData["Title"].ToString().ToLower().Contains("detalhes"))">
                    <option></option>
                    <option selected="@(Model.CategoriaInativacao == 1)" value="1">Sem estoque</option>
                    <option selected="@(Model.CategoriaInativacao == 2)" value="2">Imposição legal</option>
                </select>
            </div>
        }
        else
        {
            <div class="col-md-2 mb-3 d-none" id="divCatInativacao">
                <label for="categoriaInativacao">Categoria de inativação</label>
                <select class="form-control" id="categoriaInativacao" name="CategoriaInativacao" readonly="@(ViewData["Title"].ToString().ToLower().Contains("detalhes"))">
                    <option></option>
                    <option selected="@(Model.CategoriaInativacao == 1)" value="1">Sem estoque</option>
                    <option selected="@(Model.CategoriaInativacao == 2)" value="2">Imposição legal</option>
                </select>
            </div>
        }
    </div>
<hr class="mb-4">
@if (ViewData["Title"].ToString().ToLower().Contains("cadastro"))
{
    <button class="btn btn-primary btn-lg btn-block" id="btnCadastrar" type="submit">Cadastrar livro</button>
}
else if (ViewData["Title"].ToString().ToLower().Contains("detalhes"))
{
    <a href="/Gerencial/Produtos/Editar/@Model.Id" class="btn btn-primary btn-lg btn-block" id="btnEditar" type="submit">Editar</a>
}
else
{
    <button class="btn btn-primary btn-lg btn-block" id="btnSalvar" type="submit">Salvar</button>
}