@model IEnumerable<Domain.Produto.Livro>

@if (Model.Count() > 0)
{
    <table class="table table-striped text-center self-align-center">
        <thead>
            <tr>
                <th>Capa</th>
                <th>ISBN</th>
                <th>Título</th>
                <th>Status</th>
                <th>Lançamento</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><img src="@(item.CaminhoImagem)" width="50" height="70" alt="Capa" class="img-thumbnail" /></td>
                    <td>@item.Isbn</td>
                    <td>@item.Nome</td>
                    <td>@(item.Status == 0 ? "Inativo" : "Ativo")</td>
                    <td>@item.AnoLancamento</td>
                    <td>
                        <a href="/Gerencial/Produtos/Detalhes/@item.Id" class="btn btn-primary" title="Detalhes">
                            <i class="fa fa-info-circle"></i>
                        </a>
                    </td>
                    <td><a href="/Gerencial/Produtos/Editar/@item.Id" class="btn btn-secondary" title="Editar"><i class="fa fa-edit"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
}