@model IEnumerable<Domain.DadosCliente.CartaoDeCredito>

@if (Model.Count() > 0)
{
    <table class="table table-striped table-bordered text-center self-align-center">
        <thead>
            <tr>
                <th class="align-middle">Bandeira</th>
                <th class="align-middle">Apelido</th>
                <th class="align-middle">Nome Impresso</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Bandeira</td>
                    <td>@item.Apelido</td>
                    <td>@item.NomeImpresso</td>
                    <td><a href="/Loja/MinhaConta/DetalhesCartao/@item.Id" class="btn btn-primary" title="Detalhes"><i class="fa fa-info-circle"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
    <h4>Cartão preferencial</h4>
    <select class="form-control col-md-3" id="selectCartao">
        @if (ViewBag.CartaoPreferencial != null && ViewBag.CartaoPreferencial > 0)
        {
            foreach (var item in Model)
            {
                <option value="@item.Id" selected="@(ViewBag.CartaoPreferencial == item.Id)" disabled="@(ViewBag.CartaoPreferencial == item.Id)">@item.Apelido</option>
            }
        }
        else
        {
            foreach (var item in Model)
            {
                <option value="@item.Id">@item.Apelido</option>
            }
        }
    </select>
}