@model Domain.DadosCliente.Endereco
<input type="hidden" name="Id" value="@Model.Id" />
<div class="row">
    <div class="col-md-3 form-group">
        <label for="tipoEndereco">Tipo de endereço*</label>
        <select class="custom-select" id="tipoEndereco" name="TipoEndereco" disabled="@(!ViewData["Title"].ToString().Contains("Cadastro"))">
            @if (Model.TipoEndereco == 1)
            {
                <option value="1" selected>Entrega</option>
            }
            else if (Model.TipoEndereco == 2)
            {
                <option value="2" selected>Cobrança</option>
            }
        </select>
    </div>
    <div class="col-md-3 form-group">
        <label for="tipoEndereco">Tipo de logradouro*</label>
        <select class="custom-select" id="tipoLogradouro" name="TipoLogradouro" disabled="@(ViewData["Title"].ToString().Contains("Detalhes"))">
            <option value="" selected="@(Model.TipoLogradouro == 0)"></option>
            <option value="1" selected="@(Model.TipoLogradouro == 1)">Rua</option>
            <option value="2" selected="@(Model.TipoLogradouro == 2)">Av.</option>
            <option value="3" selected="@(Model.TipoLogradouro == 3)">Rod.</option>
        </select>
    </div>
    <div class="col-md-4 form-group">
        <label for="tipoResidencia">Tipo de residência*</label>
        <select class="custom-select" id="tipoResidencia" name="TipoResidencia" disabled="@(ViewData["Title"].ToString().Contains("Detalhes"))">
            <option value="" selected="@(Model.TipoResidencia == 0)"></option>
            <option value="1" selected="@(Model.TipoResidencia == 1)">Casa</option>
            <option value="2" selected="@(Model.TipoResidencia == 2)">Apartamento</option>
        </select>
    </div>
    <div class="col-md-5 form-group">
        <label for="logradouro">Logradouro*</label>
        <input type="text" class="form-control" id="logradouro" name="Logradouro" value="@Model.Logradouro" disabled="@(ViewData["Title"].ToString().Contains("Detalhes"))">
    </div>
    <div class="col-md-2 form-group">
        <label for="numero">Número*</label>
        <input type="text" class="form-control" id="numero" name="Numero" value="@Model.Numero" disabled="@(ViewData["Title"].ToString().Contains("Detalhes"))">
    </div>
    <div class="col-md-3 form-group">
        <label for="cep">Cep*</label>
        <input type="text" class="form-control" id="cep" name="Cep" value="@Model.Cep" disabled="@(ViewData["Title"].ToString().Contains("Detalhes"))">
    </div>
    <div class="col-md-5 form-group">
        <label for="cidade">Cidade*</label>
        <select class="custom-select" id="cidade" name="Cidade" disabled="@(ViewData["Title"].ToString().Contains("Detalhes"))">
            <option value="" selected="@(Model.Cidade == 0)"></option>
            <option value="1" selected="@(Model.Cidade == 1)">Mogi das Cruzes</option>
            <option value="2" selected="@(Model.Cidade == 2)">Suzano</option>
        </select>
    </div>
    <div class="col-md-3 form-group">
        <label for="estado">Estado*</label>
        <select class="custom-select" id="estado" name="Estado" disabled="@(ViewData["Title"].ToString().Contains("Detalhes"))">
            <option value="" selected="@(Model.Estado == 0)"></option>
            <option value="1" selected="@(Model.Estado == 1)">SP</option>
            <option value="2" selected="@(Model.Estado == 2)">MG</option>
        </select>
    </div>
    <div class="col-md-2 form-group">
        <label for="pais">País*</label>
        <select class="custom-select" id="pais" name="Pais" disabled="@(ViewData["Title"].ToString().Contains("Detalhes"))">
            <option value="1" selected>Brasil</option>
        </select>
    </div>
    <div class="col-md-6 form-group">
        <label for="observacao">Obervação</label>
        <input type="text" class="form-control" id="observacao" name="Observacao" value="@Model.Observacao" disabled="@(ViewData["Title"].ToString().Contains("Detalhes"))">
    </div>
</div>
