@model Domain.Negocio.Pedido

<table class="table table-striped text-center self-align-center">
    <thead>
        <tr>
            <th>Id do Produto</th>
            <th>Nome</th>
            <th>Quantidade</th>
            @if (Model.Status == 'E')
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @if (Model.Status == 'E')
        {
            @foreach (var item in Model.ItensPedido)
            {
                <tr>
                    <td>@item.Id</td>
                    <td><a href="/Loja/Home/Produto/@item.Id">@item.Produto.Nome</a></td>
                    <td>@item.Qtde</td>
                    <td><a href="/Loja/MinhaConta/SolicitarTroca/@item.Id" class="btn btn-primary" title="Solicitar troca"><i class="fa fa-exchange-alt"></i></a></td>
                </tr>
            }
        }
        else
        {
            @foreach (var item in Model.ItensPedido)
            {
                <tr>
                    <td>@item.Id</td>
                    <td><a href="/Loja/Home/Produto/@item.Id">@item.Produto.Nome</a></td>
                    <td>@item.Qtde</td>
                </tr>
            }
        }
    </tbody>
</table>
